  <h1>Login</h1>

  <section class='form'>
    <%= form_tag sessions_path, class: "clearfix" do %>
      <div class="field clearfix">
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username] %>
      </div>
      <div class="field clearfix">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
</section>