

<h1>Tic-Tac-Toe</h1>
<h2>Record: <%= @user.tic_tac_toe_games_won.size %> - <%= @user.tic_tac_toe_games_lost.size %> - <%= @user.tic_tac_toe_games_drawn.size %> </h2>


<section>
  <table>
    <thead>
      <td>Opponent</td>
      <td>Outcome</td>
    </thead>
    <% @user.tic_tac_toe_games.each do |game| %>
    <tr>
      <td class='username_list'><%= @user.opponent(game).try(:username) %></td>
      <td class='username_list'><%= @user.game_outcome(game) %></td>
    </tr>
    <% end %>
  </table>
</section>