<h1>Find an Opponenet</h1>

  <ul class="errors">
    <% @game.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li> 
    <% end %>
  </ul>


<%= form_tag '/tic_tac_toe_games', method: :post %>
  <div class='fields'>
    <%= label_tag 'Username' %>
    <%= text_field_tag :username%>
  </div>
    <%= submit_tag 'Start Game!' %>
  <br>
  <table>
    <thead>Potential Opponents</thead>
    <% @users.each do |user| %>
    <tr>
      <td class='username_list'><%= user.username unless user.username == 'Computer' %></td>
    </tr>
    <% end %>
  </table>
