<h1>Find an Opponenet</h1>

<form action="<%= create_tic_tac_toe_game_path %>" method='post' %>
  <div class='fields'>
    <%= label_tag 'Username' %>
    <%= text_field_tag :username%>
  </div>
    <%= submit_tag 'Start Game!' %>
</form>
  <table>
    <thead>Potential Opponents</thead>
    <% @users.each do |user| %>
    <tr>
      <td class='username_list'>
        <%= user.username %>
      </td>
    </tr>
    <% end %>
  </table>
