<h1>Challenge an Opponent</h1>

<% if @game.errors.any? %>
  <div class="error_messages clearfix">
    <ul>
      <% @game.errors.full_messages.each do |error| %>
        <li>
          <%= error %>
        </li> 
      <% end %>
    </ul>
  </div>
<% end %>

<section class='form'>
  <%= form_tag '/tic_tac_toe_games', class: 'clearfix', method: :post %>
    <div class='field clearfix'>
      <%= label_tag 'Username' %>
      <%= text_field_tag :username%>
    </div>
    <div class='actions'
      <%= submit_tag 'Start Game!' %>
    </div>
    <table>
      <thead><tr>Potential Opponents</tr></thead>
      <% @users.each do |user| %>
      <tr>
        <td class='username_list'><%= user.username unless user.username == 'Computer' %></td>
      </tr>
      <% end %>
    </table>
</section>