<% content_for :head do %>
  <% unless @game.game_over? %>
    <META HTTP-EQUIV="refresh" CONTENT="7">
  <% end %>
<% end %>

<% if @game.game_has_been_won? %> 
  <h1>GAME OVER!<h1>
  <h2><%= @game.winner.username %> won!</h2>
<% elsif @game.game_has_been_drawn? %> 
  <h1>GAME OVER!</h1>
  <h2>Its a draw!</h2>
<% end %>
<% if @game.continue? && session[:user_id] != @game.user_turn.id %> 
  <h1><%= @game.user_turn.username %>'s play.</h1>
<% end %>
<% if @game.continue? && session[:user_id] == @game.user_turn.id %> 
  <h1>Your play</h1>
<% end %>
  
<% if @move.errors.any? %>
  <div class="error_messages clearfix">
    <ul>
      <% @move.errors.try(:full_messages).try(:each) do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %> 


<section class='player-info'>
  <div class='float-left x-play'>
    <h3 class='username'><%= @game.x_user.username %></h3>
    <%= image_tag 'circle-x-8x.png', class: 'float-right' %>
  </div>
  <div class='float-right o-play'>
    <h3 class='username'><%= @game.y_user.username %></h3>
    <%= image_tag 'media-record-8x.png', class: 'float-right' %>
  </div>
</section>
<section class='board'>
  <table class='board'>
    <tbody>
    <tr>
      <td class='top left'>
        <%= board_move(@game, 1, 1) %>
      </td> 
      <td class='top center'>
        <%= board_move(@game, 2, 1) %>
      </td>
      <td class='top right'>
        <%= board_move(@game, 3, 1) %>
      </td>
    </tr>
    <tr>
      <td class='middle left'>
        <%= board_move(@game, 1, 2) %>
      </td> 
      <td class='middle center'>
        <%= board_move(@game, 2, 2) %>
      </td>
      <td class='middle right'>
        <%= board_move(@game, 3, 2) %>
      </td>
    </tr>
    <tr>
      <td class='bottom left'>
        <%= board_move(@game, 1, 3) %>
      </td> 
      <td class='bottom center'>
        <%= board_move(@game, 2, 3) %>
      </td>
      <td class='bottom right'>
        <%= board_move(@game, 3, 3) %>
      </td>
    </tr>
  </tbody>
  </table>
</section>
