<h1>A Game of Tick Tack Toe</h1>
<% if @game.game_over? %> 
  <h2>GAME OVER! <%= @game.winner.username %> won! </h2>
<% end %>
<h2>X player: <%= @game.x_user.username %></h2>
<h2>O player: <%= @game.y_user.username %></h2>
<p>
  <table>
    <tbody>
    <tr>
      <td>
        <%= board_move(@game, @moves, 1, 1) %>
      </td> 
      <td>
        <%= board_move(@game, @moves, 2, 1) %>
      </td>
      <td>
        <%= board_move(@game, @moves, 3, 1) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= board_move(@game, @moves, 1, 2) %>
      </td> 
      <td>
        <%= board_move(@game, @moves, 2, 2) %>
      </td>
      <td>
        <%= board_move(@game, @moves, 3, 2) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= board_move(@game, @moves, 1, 3) %>
      </td> 
      <td>
        <%= board_move(@game, @moves, 2, 3) %>
      </td>
      <td>
        <%= board_move(@game, @moves, 3, 3) %>
      </td>
    </tr>
  </tbody>
  </table>
</p>
<% if @game.continue? %> 
  <h3>Next turn:</h3>
    <%= @game.user_turn.username %>
<% end %>
